<ul class="nav">
    <li class="nav-item nav-profile">
        <a href="#" class="nav-link">
            <i class="fas fa-user-cog    "></i> <%= name %>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fa-solid fa-headset"></i> Ingenieros
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fa fa-building-o" aria-hidden="true"></i> Empresas
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fa fa-ticket" aria-hidden="true"></i> Tickets
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fa-solid fa-arrow-right-from-bracket"></i> Cerrar Sesión
        </a>
    </li>
</ul>