<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap-5.3.3-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/base-nav-footer.css">
    <script src="/bootstrap-5.3.3-dist/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/c55ac3095c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />


    <link rel="shortcut icon" href="/res/logo-5.png" type="image/x-icon">
</head>
<body>
    <ul class="nav justify-content-center">
        <li class="nav-img">
            <img src="/res/logo.png" alt="">
            <img src="/res/logo-2.jpeg" alt="">
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/">
                <i class="fa fa-home" aria-hidden="true"></i> Inicio
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/company-log">
                <i class="fa fa-building" aria-hidden="true"></i> Empresas
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/support-login">
                <i class="fa-solid fa-headset"></i> Consultores
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/login-admin">
                <i class="fas fa-user-cog    "></i> Administrador
            </a>
        </li>
    </ul>
</body>
</html>