<ul class="nav justify-content-center footer-nav">
    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
    </li>
</ul>