<ul class="nav justify-content-center footer-nav">
    <li class="nav-item">
        <a class="nav-link" href="https://sistecgolfo.selfip.com/" target="_blank">
            Store
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="https://www.facebook.com/sistecgolfooficial" target="_blank">
            Facebook
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="https://sistecgolfo.com/" target="_blank">
            Pagina oficial
        </a>
    </li>
</ul>