<%- include('base.ejs') %>
    <link rel="stylesheet" href="/css/index.css">
    <title>Login Empresas</title>

    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
        </li>
    </ul>

    <div class="container">
        <form action="" method="post">
            <div class="icon-holder">
                <i class="fa fa-building-o" aria-hidden="true"></i>
                <h1>Empresas</h1>
            </div>
            <div class="form-group">
                <h1>Iniciar Sesi칩n</h1>
                <p>Login de empresa.</p>
                <label for=""><i class="fa fa-user-circle-o" aria-hidden="true"></i> Id de Usuario:</label>
                <input type="text" name="" id="" class="form-control" placeholder="Id de usuario...">

                <label for=""><i class="fa fa-lock" aria-hidden="true"></i> Contrase침a:</label>
                <input type="text" name="" id="" class="form-control" placeholder="Contrase침a...">

                <div class="buttons">
                    <button type="button" name="" id="" class="btn btn-primary" btn-lg btn-block">
                        <i class="fa fa-paper-plane-o" aria-hidden="true"></i> Iniciar Sesi칩n
                    </button>
                    <a name="" id="" class="btn btn-primary" href="#" role="button">
                        <i class="fa fa-user-plus" aria-hidden="true"></i> Crear cuenta
                    </a>
                </div>
            </div>
        </form>
    </div>