<%- include('base.ejs') %>
    <link rel="stylesheet" href="/css/index.css">
    <title>Login Empresas</title>

    <div class="container">
        <form action="/company-login" method="post">
            <div class="icon-holder">
                <div class="icon">
                    <i class="fa fa-building-o" aria-hidden="true"></i>
                    <h1>Empresas</h1>
                </div>
            </div>
            <div class="form-group">
                <h1>Iniciar Sesi칩n</h1>
                <p>Login de empresa.</p>
                <label for=""><i class="fas fa-mail-bulk    "></i> Correo:</label>
                <input type="email" name="correo" id="" class="form-control" placeholder="Correo" required>

                <label for=""><i class="fa fa-lock" aria-hidden="true"></i> Contrase침a:</label>
                <input type="password" name="password" id="" class="form-control" placeholder="Contrase침a" required>

                <div class="buttons">
                    <button type="submit" name="" id="" class="btn btn-primary" btn-lg btn-block">
                        <i class="fa fa-paper-plane-o" aria-hidden="true"></i> Iniciar Sesi칩n
                    </button>
                    <a name="" id="" class="btn btn-primary" href="/register-company" role="button">
                        <i class="fa fa-user-plus" aria-hidden="true"></i> Crear cuenta
                    </a>
                </div>
            </div>
        </form>
    </div>