<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/res/logo-5.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/base-nav-footer.css">
    <link rel="stylesheet" href="/css/landing.css">
    <script src="/bootstrap-5.3.3-dist/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/c55ac3095c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" href="/bootstrap-5.3.3-dist/css/bootstrap.min.css">
    <title>Microsip Mesa de Ayuda</title>
</head>
<body>
    <ul class="nav justify-content-center">
        <li class="nav-img">
            <img src="/res/logo.png" alt="">
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/">
                <i class="fa fa-home" aria-hidden="true"></i> Inicio
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/company-log">
                <i class="fa fa-building" aria-hidden="true"></i> Empresas
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/support-login">
                <i class="fa-solid fa-headset"></i> Consultores
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/login-admin">
                <i class="fas fa-user-cog    "></i> Administrador
            </a>
        </li>
    </ul>

    <br>

    <section class="banner">
        <div class="img"></div>
        <div class="filter"></div>
        <div class="titles">
            <h1>
                <strong>Mesa de ayuda Microsip</strong>
            </h1>
            <h4>Soluciones y colaboración</h4>

            <br>

            <a name="" id="" class="btn btn-primary" href="/company-log" role="button">
                Iniciar Ahora
            </a>
        </div>
    </section>

    <section class="services">
        <div class="titles">
            <h1>
                <strong>Nuestros servicios</strong>
            </h1>
        </div>

        <div class="group-card">
            <div class="card">
                <div class="icon-holder">
                    <i class="fas fa-headset    "></i>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Soporte personalizado</h4>
                    <p class="card-text">Comunicación por medio de comentarios con los consultores para mejorar el soporte</p>
                </div>
            </div>
    
            <div class="card">
                <div class="icon-holder">
                    <i class="fas fa-chart-pie    "></i>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Estadísticas de clasificación</h4>
                    <p class="card-text">Gráficas de clasificación de tickets generados para una visualización rápida</p>
                </div>
            </div>
    
            <div class="card">
                <div class="icon-holder">
                    <i class="fas fa-headset    "></i>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Soporte de calidad</h4>
                    <p class="card-text">Nuestro equipo está dedicado resolver tus problemas con calidad en cada interacción.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="faq">
        <div class="titles">
            <h1>
                <strong>Preguntas frecuentes</strong>
            </h1>
        </div>

        <div class="questions">
            <div class="box-question">
                <div class="question">
                    <h4>
                        <strong>¿Cómo puedo contactar con la Mesa de Ayuda?</strong>
                    </h4>
                </div>

                <div class="response">
                    <p>
                        <strong>
                            Puedes contactarnos siguiendo los siguientes pasos: <br>
                            1. A través de nuestra plataforma web registrándote en la sección de Empresas. <br>
                            2. Genera un ticket con la información correspondiente y explícanos cual es tu problema. <br>
                            3. Espera y resolveremos tu problema
                        </strong>
                    </p>
                </div>
            </div>
            

            <div class="box-question">
                <div class="question">
                    <h4>
                        <strong>¿Cuánto tiempo tardaré en recibir una respuesta?</strong>
                    </h4>
                </div>

                <div class="response">
                    <p>
                        <strong>
                            Nos esforzamos por responder a todas las consultas lo más rápido posible. Por lo general, puedes esperar una respuesta en cuestión de minutos durante nuestro horario de atención.
                        </strong>
                    </p>
                </div>
            </div>

            <div class="box-question">
                <div class="question">
                    <h4>
                        <strong>¿Qué tipo de problemas pueden ayudarme a resolver?</strong>
                    </h4>
                </div>

                <div class="response">
                    <p>
                        <strong>
                            Nuestro equipo de soporte está capacitado para ayudarte con una amplia variedad de problemas, incluyendo, pero no limitado a problemas técnicos con nuestros productos o servicios y preguntas sobre cómo utilizar nuestros productos o servicios.
                        </strong>
                    </p>
                </div>
            </div>

            <div class="box-question">
                <div class="question">
                    <h4>
                        <strong>¿Qué debo hacer si tengo una emergencia fuera del horario de atención?</strong>
                    </h4>
                </div>

                <div class="response">
                    <p>
                        <strong>
                            Si tienes una emergencia fuera de nuestro horario de atención, por favor genera un ticket en la plataforma detallando tu problema y nos pondremos en contacto contigo tan pronto como sea posible.
                        </strong>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="content">
            <div class="column-1">
                <strong>
                    Dirección: <br>
                </strong>
                    <i class="fa fa-map-marker" aria-hidden="true"></i> G. Zamora #814, Col. Centro Coatzacoalcos,96410,Ver.
            </div>
            <div class="column-2">
                <strong>
                    <i class="fa fa-link" aria-hidden="true"></i> Social:
                </strong> 

                    <br>

                    <a href="https://sistecgolfo.selfip.com/" target="_blank">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i> Store
                    </a> <br> 

                    <a href="https://www.facebook.com/sistecgolfooficial" target="_blank">
                        <i class="fa-brands fa-facebook"></i> Facebook
                    </a> <br>

                    <a href="https://sistecgolfo.com/" target="_blank">
                        <i class="fa fa-paper-plane" aria-hidden="true"></i> Pagina oficial
                    </a>
            </div>
            <div class="column-3">
                <strong>
                    <i class="fa fa-info-circle" aria-hidden="true"></i> Información de contacto:
                </strong>

                    <br>

                    <i class="fa fa-phone" aria-hidden="true"></i> Linea 1: (921) 212 2129 <br>
                    <i class="fa fa-phone" aria-hidden="true"></i> Linea 2: (921) 212 6107 <br>

                    <i class="fa fa-whatsapp" aria-hidden="true"></i> WhatsApp: (921) 236 3030 <br>
                    <i class="fas fa-mail-bulk    "></i> Correo: ventas.coatza@sistecgolfo.com
            </div>
        </div>
        <div class="copyright">
            <strong>
                Copyright <i class="fa fa-copyright" aria-hidden="true"></i> 2024 Derechos reservados SistecGolfo
            </strong>
        </div>
    </footer>
</body>
</html>