<%- include('base.ejs') %>
    <link rel="stylesheet" href="/css/login-admin.css">
    <title>Login Administradores</title>

    <div class="container">
        <form action="/login-admin/session" method="post">
            <div class="content-left">
                <div class="icon">
                    <i class="fas fa-user-cog    "></i>
                    <h4>Administradores</h4>
                </div>
            </div>
            <div class="form-group">
                <h4>Login de administradores</h4>
                <p>Iniciar sesión como administrador.</p>
                <label for=""><i class="fas fa-mail-bulk    "></i> Correo:</label>
                <input type="email" name="correo" id="" class="form-control" placeholder="Correo" required autocomplete="off">

                <label for=""><i class="fa fa-lock" aria-hidden="true"></i> Contraseña:</label>
                <input type="password" name="password" id="" class="form-control" placeholder="Contraseña" required autocomplete="off">

                <div class="buttons">
                    <button type="submit" name="" id="" class="btn btn-primary" btn-lg btn-block">
                        <i class="fa fa-paper-plane-o" aria-hidden="true"></i> Ingresar
                    </button>
                </div>
            </div>
        </form>
    </div>