<%- include("base-panel.ejs") %>

<div class="container">
    <form action="" method="post">
        <h4><%= ticket[0].contenido %></h4>
        <div class="form-group">
          <label for=""><i class="fa-solid fa-code-branch"></i> Version del software:</label>
          <input type="text" name="" id="" class="form-control" placeholder="" value="<%= ticket[0].version %>">

          <label for=""><i class="fa fa-file-text-o" aria-hidden="true"></i> Descripción de la falla:</label>
          <textarea name="" class="form-control" id=""><%= ticket[0].descripcion %></textarea>

          <div class="buttons">
            <button type="button" name="" id="" class="btn btn-primary" btn-lg btn-block">
                <i class="fa fa-check-circle-o" aria-hidden="true"></i> Guardar cambios
            </button>

            <a name="" id="" class="btn btn-link" href="#" role="button">
                <i class="fa fa-arrow-left" aria-hidden="true"></i> Regresar
            </a>
          </div>
        </div>
    </form>
</div>
