<ul class="nav">
    <li class="nav-item name">
        <a class="nav-link" href="/dashboard-support/profile">
            <i class="fas fa-headset    "></i>
            <%= name %>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/dashboard-support">
            <i class="fa fa-home" aria-hidden="true"></i> Inicio
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/dashboard-support/tickets">
            <i class="fa fa-ticket" aria-hidden="true"></i> Tickets
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/support-logout">
            <i class="fa-solid fa-arrow-right-from-bracket"></i> Cerrar Sesión
        </a>
    </li>
</ul>