:root {
    --Color-1: #ff8623;
    --Color-2: #202427;
    --Color-3: #fff;
    --Color-4: #e9e6e2;
}

section{
    width: 100%;
    height: 100vh;
}

.banner{
    position: relative;
    display: flex;
    align-items: center;
    vertical-align: center;
}

.banner .img{
    background-image: url(../res/banner-img.jpg);
    background-color: var(--Color-1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}

.banner .filter{
    position: absolute;
    text-align: center;
    color: white;
    background-color: var(--Color-1);
    height: 100%;
    width: 100%;
    opacity: 20%;
}

.banner .titles{
    position: absolute;
    text-align: center;
    color: white;
    width: 50%;
    left: 25%;
    right: 25%;
    opacity: 100%;
}

.banner .titles a{
    background-color: var(--Color-1);
    border: none;
    font-weight: bolder;
    transition: all 0.5s;
    padding: 10px;
    &:hover{
        color: var(--Color-2);
        border-radius: 100px;
    }
}

.services{
    padding-top: 5vh;
}

.titles{
    text-align: center;
    color: var(--Color-1);
}

.services .group-card{
    display: flex;
    align-items: center;
    height: 60vh;
    padding: 10px;
    margin-top: 10vh;
}

.services .group-card .card{
    width: 28%;
    height: 60%;
    margin: auto;
    text-align: center;
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
    box-shadow: -10px 10px 5px var(--Color-4);
    border: 1px solid var(--Color-4);
}

.card .icon-holder{
    background-color: var(--Color-1);
    border-radius: 100px;
    padding: 15px;
    margin: auto;
}

.card i{
    font-size: 25pt;
    padding: 0px;
    margin: 0px;
    color: var(--Color-2);
}

.questions .box-question{
    width: 60%;
    height: fit-content;
    margin: auto;
    margin-top: 5vh;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--Color-4);
    box-shadow: -10px 10px 5px var(--Color-4);
}

.questions .response p{
    font-size: 0px;
    margin: 0px;
    text-align: center;
    color: transparent;
    transition: all 0.2s;
}

.questions .question:hover ~ .response p{
    font-size: 12pt;
    color: var(--Color-2);
    text-align: center;
}

.questions .question{
    text-align: center;
}

footer{
    padding: 10px;
    background-color: var(--Color-2);
    color: var(--Color-3);
}

footer .content{
    display: flex;
}

footer .content div{
    width: 25%;
    margin: auto;
    margin-top: 0px;
    text-align: start;
}

.content div a{
    text-decoration: none;
}

footer .copyright{
    text-align: center;
}
