:root {
    --Color-1: #ff8623;
    --Color-2: #3f3f3f;
    --Color-3: #fff;
    --Color-4: #e9e6e2;
}

.container{
    height: 70vh;
    margin-top: 5vh;
    display: flex;
}

.container form{
    background-color: var(--Color-1);
    box-shadow: 0px 0px 10px var(--Color-4);
    height: fit-content;
    width: 45%;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    align-self: center;
}

form .content-top{
    text-align: center;
}

form .content-top i{
    color: var(--Color-3);
    font-size: 40pt;
}

form .content-top h4{
    color: var(--Color-3);
    text-align: center;
}

form .form-group{
    background-color: var(--Color-3);
    border-radius: 10px;
    padding: 10px;
}

.form-group textarea, .form-group input, .form-group select{
    width: 90%;
    margin: auto;
    margin-bottom: 5vh;
}

.form-group textarea{
    height: 70pt;
    resize: none;
}

.form-group label{
    color: var(--Color-1);
    font-weight: bold;
    margin-left: 5%;
}

.form-group .buttons{
    width: 90%;
    margin: auto;
    display: flex;
}

.buttons button{
    background-color: var(--Color-1);
    border: none;
    font-weight: bold;
    margin-right: auto;
}

.buttons a{
    text-decoration: none;
    color: var(--Color-1);
    font-weight: bold;
    &:hover {
        color: var(--Color-2);
    }
}

