:root {
    --Color-1: #ff8623;
    --Color-2: #202427;
    --Color-3: #fff;
    --Color-4: #e9e6e2;
}

.nav{
    width: 90%;
    background-color: var(--Color-1);
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
    display: flex;
    padding: 5px;
}

.nav li a{
    font-weight: bold;
    color: var(--Color-3);
    &:hover{
        color: var(--Color-2);
    }
}

.nav .nombre-empresa{
    color: var(--Color-3);
    background-color: var(--Color-3);
    border-radius: 5px;
    margin-right: auto;
}

.nav .nombre-empresa a{
    color: var(--Color-1);
}

