:root {
    --Color-1: #ff8623;
    --Color-2: #3f3f3f;
    --Color-3: #fff;
    --Color-4: #e9e6e2;
}

.container{
    width: 90%;
    height: fit-content;
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: flex;
}

.container .content{
    background-color: var(--Color-1);
    box-shadow: 0px 0px 10px var(--Color-4);
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    width: 70%;
}

.container .content .content-left{
    width: 90%;
    display: flex;
    align-items: center;
}

.container .content .content-right{
    background-color: var(--Color-3);
    width: 100%;
    border-radius: 10px;
    padding: 10px;
}

.container .content form{
    background-color: var(--Color-3);
    display: flex;
    flex-direction: column;
    margin: auto;
    height: fit-content;
    width: 100%;
}

.content-right .form-group p{
    font-size: 25pt;
    font-weight: bold;
    color: var(--Color-1);
    width: fit-content;
    margin-left: 5%;
}

.content-right .form-group label{
    font-weight: bold;
    color: var(--Color-1);
    width: fit-content;
    margin-left: 5%;
}

.form-group .new-profile{
    background-color: var(--Color-1);
    border: none;
    margin-left: 5%;
    font-weight: bold;
}

.content-right .form-group input, .content-right .form-group select{
    width: 90%;
    margin: auto;
    margin-bottom: 3vh;
}

.form-group .buttons{
    display: flex;
    width: 90%;
    margin: auto;
}

.buttons button{
    background-color: var(--Color-1);
    border: none;
    font-weight: bold;
    margin-right: auto;
}

.buttons a{
    font-weight: bold;
    color: var(--Color-1);
    text-decoration: none;
    &:hover{
        color: var(--Color-2);
    }
}






.content-left .profile-img{
    margin: auto;
    text-align: center;
}

.profile-img .img{
    background-color: var(--Color-3);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 250px;
    width: 250px;
    border-radius: 100%;
    margin: auto;
}

.profile-img .img i{
    font-size: 80pt;
    margin: auto;
    color: var(--Color-1);
}

.profile-img h1{
    text-align: center;
    color: var(--Color-3);
}

.container form hr{
    transform: rotate(90deg);
}

