:root {
    --Color-1: #ff8623;
    --Color-2: #3f3f3f;
    --Color-3: #fff;
    --Color-4: #e9e6e2;
}

.container{
    height: fit-content;
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: flex;
    align-items: center;
}

.container form{
    border-radius: 10px;
    width: 50%;
    padding: 10px;
    margin: auto;
    box-shadow: 0px 0px 10px var(--Color-4);
    background-color: var(--Color-1);
}

form .content-top{
    text-align: center;
}

.content-top i{
    color: var(--Color-3);
    font-size: 40pt;
}

.content-top h1{
    color: var(--Color-3);
    font-size: 25pt;
}

form .form-group{
    background-color: var(--Color-3);
    border-radius: 10px;
    padding: 10px;
}

.form-group label{
    color: var(--Color-1);
    font-weight: bold;
    width: fit-content;
    margin-left: 5%;
}

.form-group input, .form-group textarea, .form-group select{
    margin: auto;
    margin-bottom: 5vh;
    width: 90%;
    resize: none;
}

.form-group textarea{
    height: 10vh;
}

.form-group .buttons{
    display: flex;
    width: 90%;
    margin: auto;
}

.buttons button{
    font-weight: bold;
    background-color: var(--Color-1);
    border: none;
    margin-right: auto;
    &:hover{
        background-color: var(--Color-1);
        color: var(--Color-2);
    }
}

.buttons a{
    font-weight: bold;
    text-decoration: none;
    color: var(--Color-1);
    &:hover{
        color: var(--Color-2);
    }
}

