:root {
    --Color-1: #ff8623;
    --Color-2: #3f3f3f;
    --Color-3: #fff;
    --Color-4: #e9e6e2;
}

.container{
    height: fit-content;
    margin-top: 5vh;
    padding: 0%;
    width: 90%;
}

.content-top{
    width: 100%;
}

.content-top h4{
    font-size: 20pt;
    font-weight: bold;
    margin: 0px;
    margin-right: 10px;
    color: var(--Color-1);
    margin-right: auto;
}

.content-top .buttons{
    display: flex;
}

.buttons .btn-link{
    font-weight: bold;
    color: var(--Color-1);
    text-decoration: none;
    &:hover{
        color: var(--Color-2);
    }
}

.container .content-middle{
    display: flex;
    margin-top: 10px;
}

.content-middle .table-out{
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    overflow: hidden;
}

.table-out p{
    font-size: 25pt;
    font-weight: bold;
    text-align: center;
    width: fit-content;
    margin: 10vh auto;
    color: var(--Color-2);
    align-self: center;
}

.table-out table{
    margin: auto;
    text-align: center;
}

.content-middle .chart-out{
    background-color: var(--Color-1);
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    width: 30%;
    height: fit-content;
}

.chart-out canvas{
    background-color: var(--Color-3);
    padding: 10px;
    border-radius: 10px;
}

