:root {
    --Color-1: #ff8623;
    --Color-2: #3f3f3f;
    --Color-3: #fff;
    --Color-4: #e9e6e2;
}

.container{
    width: 80%;
    margin-top: 2vh;
    display: flex;
}

.container .card{
    width: 90%;
    margin: auto;
    margin-bottom: 5vh;
}

.card h4{
    color: var(--Color-1);
    font-weight: bold;
}

.commets .form-group input{
    margin-bottom: 2vh;
}

.form-group button{
    background-color: var(--Color-1);
    border: none;
}

.commets-text p.no-comments{
    margin: 5vh auto;
    font-size: 25pt;
    font-weight: bold;
    color: var(--Color-2);
    width: fit-content;
}

.commets-text .user-comment{
    margin-bottom: 10px;
}

.user-comment .user{
    display: flex;
    align-items: center;
    padding: 0px;
}

.user p{
    font-weight: bold;
    background-color: var(--Color-1);
    padding: 2px 5px;
    border-radius: 10px;
    color: var(--Color-3);
    margin-right: 10px;
    margin: 0px;
    margin-bottom: 0px !important;
}   

.user-comment p{
    width: fit-content;
    margin-bottom: 5px;
}

.user-comment a{
    text-decoration: none;
    font-weight: bold;
    color: red;
    padding: 0px;
    margin-left: 10px;
}

.imagenes{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.imagenes p{
    margin: 5vh auto;
    font-size: 25pt;
    font-weight: bold;
    color: var(--Color-2);
}

.imagenes .img{
    width: 49%;
    height: fit-content;
}

.img a{
    color: red;
    position: absolute;
}

img{
    width: 100%;
    border-radius: 10px;
}
